// ============================================================
//  eagle_library.rc -- Windows version info & icon
//  Copyright (c) 2026 Eagle Software. All rights reserved.
// ============================================================

#include <windows.h>

// Application icon
IDI_ICON1 ICON "eagle.ico"

// Version info
VS_VERSION_INFO VERSIONINFO
    FILEVERSION    1,0,0,0
    PRODUCTVERSION 1,0,0,0
    FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
    FILEFLAGS      0
    FILEOS         VOS__WINDOWS32
    FILETYPE       VFT_APP
    FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Eagle Software\0"
            VALUE "FileDescription",  "Eagle Library - eBook Manager\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "EagleLibrary\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Eagle Software. All rights reserved.\0"
            VALUE "OriginalFilename", "EagleLibrary.exe\0"
            VALUE "ProductName",      "Eagle Library\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END
